.top-block {
    background-image: url('/images/top-block-background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 205px 100px 188px;
    justify-content: space-between;
    @media screen and (max-width: 1290px) {
        flex-direction: column;
    }
    @media screen and (max-width: 565px) {
        padding: 130px 30px 82px;
    }
}

.top-block-heading {
    max-width: 960px;
}

.top-block-title {
    font-size: 128px;
    font-weight: 700;
    line-height: 128px;
    text-align: left;
    @media screen and (max-width: 565px) {
        font-size: 48px;
        font-weight: 700;
        line-height: 48px;
        text-align: left;
    }
}

.stars-image {
    width: 352px;
    height: 72px;
    @media screen and (max-width: 565px) {
        width: 250px;
        height: 51px;
        margin-top: 30px;
    }
}

.top-block-info {
    padding: 40px 0 0;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 1290px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.top-block-info__numbers {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-align: right;
    margin: 0 0 7px;
    @media screen and (max-width: 1290px) {
        text-align: left;
    }
    @media screen and (max-width: 565px) {
        font-size: 28px;
        font-weight: 700;
        line-height: 28px;
        text-align: left;
    }
}

.top-block-info__text {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-align: right;
    margin: 0 0 47px;
    @media screen and (max-width: 1290px) {
        text-align: left;
    }
    @media screen and (max-width: 565px) {
        font-size: 12px;
        font-weight: 700;
        line-height: 12px;
        text-align: left;

    }
}

.top-block-description {
    flex-shrink: 10;
    max-width: 485px;
    height: 338px;
    padding: 92px 2px 71px 75px;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    background-image: url('/images/top-block-BlackShape.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: auto;
    @media screen and (max-width: 565px) {
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
        text-align: left;
        padding: 51px 29px 35px 50px;
        max-width: 280px;
        height: 238px;
    }
}